
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #5f5e5e;
    color: aliceblue;

}
.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}
  
#h1{
    font-family: "Cedarville Cursive";
    color: rgb(41, 5, 28);
    display: flex;
    background-image: linear-gradient(1deg,#d0137b, #37a9cb 50%,#6feefc);
  
} 
#imagen-bolsa{
    width:2rem;
} 

header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(54, 53, 54);
    color:#faf7f7;
    width: 100%;
    margin: 0px;
    padding: 10px;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    width: 100%;
}



.card {
   
    width: 13rem;
    height: 17rem;
    padding: 0.2rem;
    margin: 0.5rem;
  
   
}
  
.card__content {
    background:#909090;
    width: 15rem;
    height: 17rem;
    
}

#posts{
    background:#909090;
    width: 13rem;
    height: 17rem;
    padding: 0.2rem;
    margin: 0.5rem;

}

.r-l{
   display: flex;
   text-align: end;
   margin: 1rem;
   padding: 1rem;
   justify-content: space-around;
   padding: 0.2rem;
   
}
.inicio{
   display: flex;
   text-align: end;
   justify-content: center;
   margin: 2rem;
   padding: 2rem;
   
  
}

#btn-registro{
    padding: 0.3rem;
    margin-top:0.3rem;
   

}  
#btn-login{
  margin-top: 2rem;
  padding: 2px;;
}

#btn-login:hover{
    background: #0fb7e6c1;
    border-radius: 2px;
    border-style: none;

}
input{
    width: 15rem;
    height: 1.5rem;
    margin:2px;
}
.hover:hover{
    background-color: #0fb7e6c1;
    border-radius: 2px;
    color: #0a0909;
    padding: 2px;
    

}
.ocultar{
    display: none;
}